/*background colour*/
html
{
  background-color: black;
}
/*Text alignment*/
html
  {
    text-align: center;
  }
/*font*/
html {
  font-family:"Advancements in Technology":cursive;
}
body {
  color: rgb(150,6,150);
}
div{font-size-adjust:1.00;}
header{font-size: 16px}
