/*background colour*/
html {
  background-color: black;
}

/*Text alignment*/
html {
  text-align: center;
}

/*font*/
html {
  font-family: "Advancements in Technology"
}

.monofur {
  font-family: monofur
}

body {
  color: rgb(80, 78, 150);
}

div {
  font-size-adjust: 1.00;
}

header {
  font-size: 16px
}

/*id selector2*/
#heading {
  font-family: Impact;

  /*class selector*/
  .thisisweird {
    font-size: 60px
  }

  /*type selector*/
  h2, h3 {
    font family: 'Chilanka', cursive;
  }
