/*background colour*/
html {
  background-color: black;
}

/*Text alignment*/
html {
  text-align: center;
}

/*font*/
html {
  font-family: "Advancements in Technology"
}

.monofur {
  font-family: monofur
}

body {
  color: rgb(80, 78, 150);
}

div {
  font-size-adjust: 1.00;
}

header {
  font-size: 16px
}
h2
{font-family: 'Chilanka', cursive;
}
/*id selector2*/
#heading {color:rgb(39,69,21) ;
}
/*class selector*/
.this-is-weird{
  font-size: 60px;
}
